:root {
  --dark-primary-color: #ffffff;
  --dark-secondary-color: #b3b3b3;
  --dark-primary-bg-color: #303133;
  --dark-secondary-bg-color: #2b2b2b;
  --red-color: #cc3333;
  --blue-color: #0000FF;
  --light-primary-color: #212121;
  --light-secondary-color: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica Neue", "Arial", "sans-serif";
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-primary-bg-color);
  }
}

.hide {
  display: none;
}
