#setting {
  padding: 10px 20px;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

#setting .comment {
  font-size: 14px;
  color: #808080;
}

#setting a {
  text-decoration: none;
  color: unset;
}

#setting .private-father input,
#setting select,
#setting select > option {
  font-family: Consolas;
}

#setting .badge {
  font-weight: normal !important;
  cursor: pointer;
}

#setting > .header {
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(240, 240, 240, 0.8);
}

#setting > .header > svg {
  margin-right: 8px;
}

#setting > .footer {
  padding-top: 7px;
  border-top: 1px solid rgba(240, 240, 240, 0.8);
}

#setting .header .engine .engine-logo,
#setting .body .side.floatL svg,
#setting .body .side .services .service img,
#setting .services .service img,
#setting .ext > .title > svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
}

#setting .split {
  display: block;
  height: 1px;
  border-bottom: #dfe1e6 solid 1px;
  margin: 0.25rem 0;
}

#setting .l-badge {
  display: inline-flex;
  background-color: grey;
  color: white;
  border-radius: 11px;
  font-size: 11px;
  transform: scale(0.7);
  padding: 3px 8px;
  opacity: 0.8;
  margin-left: -7px;
  margin-top: -6px;
  font-weight: normal;
}

#setting .l-badge.ai {
  background-color: #848ef9;
  color: white;
}

#setting .shortcut .key {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1px 6px;
  font-size: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: light) {
  #pluginVersion {
    color: #333333;
  }
}

@media (prefers-color-scheme: dark) {
  #pluginVersion {
    color: #ffffff;
  }
}

#setting > .header > .title {
  font-weight: bold;
  font-size: 1.125rem;
}

#pluginVersion {
  margin: 0 5px;
  font-size: 0.85rem;
}

#proxyHost {
  max-width: 10rem;
}

#proxyPort {
  max-width: 5rem;
}

#setting > .body > .side {
  width: 22%;
}

#setting > .body > .content {
  width: calc(78% - 10px);
}

#setting > .body > .side,
#setting > .body > .content {
  margin-left: 5px;
  overflow-y: scroll;
}

#setting > .body > .side::-webkit-scrollbar,
#setting > .body > .content::-webkit-scrollbar {
  display: none;
}

#setting .vm {
  vertical-align: middle;
}

#setting > .body > .side > div,
#setting > .body > .side > .services > .service {
  padding: 0.25rem;
}

#setting > .body > .side > div:not(:nth-last-child(2)):hover,
#setting > .body > .side > .services > .service:hover {
  background-color: rgba(200, 200, 200, 0.6) !important;
  border-radius: 4px;
  cursor: pointer;
}

#setting > .body > .side > .services > .service.active {
  background-color: #f5e6e6;
  color: #cc3333;
  font-weight: 500;
  border-radius: 4px;
}

#setting > .body > .side > .services > div,
#setting > .body > .content > .ext > .content,
#setting > .body > .content > .services > .service {
  margin-left: 20px;
}

#setting > .body > .content > .services > .service {
  margin-top: 15px;
  padding-bottom: 5px;
}

#setting > .body > .content > .services > .service > .detail {
  margin-left: 32px;
}

#setting input.form-check-input,
#setting > .body > .content > .services > .service > .api > label {
  cursor: pointer;
}

#setting > .body > .content ul {
  margin-bottom: 0 !important;
}

#setting > .body > .content::-webkit-scrollbar {
  display: none;
}

#setting > div.body > div.content > div.ext > div.content {
  overflow-wrap: break-word;
}

#setting > div.body > div.content > div.ext > div.switch {
  margin-left: 10px;
}

.varFormatter > div.form-check-inline:last-child {
  margin-right: 0px !important;
}

#variable > div.switch {
  margin-left: 0px !important;
}

#setting > div.body > div.content > div.ext {
  padding: 1rem;
  margin: 10px 5px 10px 5px;
  border-radius: 5px;
  box-shadow: #e6e6e6 0px 0px 10px 3px;
}

#setting > div.body > div.content > div.ext > .title {
  font-weight: bold;
}

#setting .side .services img,
#setting .api img {
  width: 24px;
  height: 24px;
}

.private-id {
  width: 5rem;
  display: inline-block;
}

.secret {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

#setting .model-item {
  padding: 10px 5px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  cursor: pointer;
}

#setting .model-item.active {
  background-color: #f5e6e6;
  color: #cc3333;
  font-weight: 500;
}

#setting .model-item:hover {
  background-color: #e6e6e6;
  transform: 0.5s;
}

#setting .model-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

#setting .model-item .model-status.icon {
  position: relative;
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.4em;
  background-color: #405061;
  border-radius: 0.4em;
  margin-right: 4px;
}

#setting .model-item .model-status.icon.active {
  width: 1rem;
  height: 1rem;
  background-color: unset;
}
#setting .model-item .model-status.icon.active::after {
  content: "";
  position: absolute;
  vertical-align: middle;
  width: 6px;
  height: 12px;
  border: solid #cc3333;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#setting .model-item .model-name {
  font-weight: 500;
}

.cost-icon::before {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  vertical-align: -0.2em;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  background-image: url("..//images/cost.svg");
}

#setting .model-item .model-desc {
  text-indent: 2em;
  margin-top: 5px;
  display: none;
}

.eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.eye,
.exchange {
  padding: 0.15rem;
  cursor: pointer;
  opacity: 0.5;
}

.eye:hover,
.exchange:hover {
  opacity: 1;
}

.eye::before,
.exchange::before,
.info::before {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  vertical-align: -0.2em;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

.eye.opened::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-eye' viewBox='0 0 16 16'><path d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z'/><path d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'/></svg>");
}

.eye.closed::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-eye-slash' viewBox='0 0 16 16'><path d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'/><path d='M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z'/><path d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z'/></svg>");
}

.exchange::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-repeat' viewBox='0 0 16 16'><path d='M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z'/></svg>");
}
@media (prefers-color-scheme: light) {
  #setting > .body > .side a:hover,
  #setting > .body > .content label:hover,
  #setting > .body > .content > .services > .service > .api > label > strong:hover,
  #setting > .body > .content > .services > .service > .api > a:hover,
  #setting > .footer a:hover,
  #setting > .body > .side > div:not(:nth-last-child(2)):hover,
  #setting > .body > .side > .services > .service:hover {
    color: #0000cc;
  }
}

@media (prefers-color-scheme: dark) {
  #setting {
    color: #ffffff;
  }

  /* 部分图标在暗黑模式下需要处理背景色 */
  img.compatible {
    background-color: #ffffff;
  }

  .eye.opened::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' class='bi bi-eye' viewBox='0 0 16 16'><path d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z'/><path d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z'/></svg>");
  }

  .eye.closed::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' class='bi bi-eye-slash' viewBox='0 0 16 16'><path d='M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z'/><path d='M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z'/><path d='M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z'/></svg>");
  }

  .exchange::before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FFFFFF' class='bi bi-repeat' viewBox='0 0 16 16'><path d='M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192Zm3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z'/></svg>");
  }

  #setting select,
  #setting input[type="text"],
  #setting input[type="password"],
  #setting .form-control,
  #setting .form-control:focus {
    background-color: #333333;
    color: #ffffff;
  }

  #setting > .body > .side a:hover,
  #setting > .body > .content label:hover,
  #setting > .body > .content > .services > .service > .api > label > strong:hover,
  #setting > .body > .content > .services > .service > .api > a:hover,
  #setting > .footer a:hover,
  #setting > .body > .side > div:not(:nth-last-child(2)):hover,
  #setting > .body > .side > .services > .service:hover,
  #setting .model-item:hover {
    color: #cc3333;
  }

  /* input输入框提示文案 */
  #setting span.input-group-text {
    color: #ffffff;
    background-color: #888888;
  }

  #setting > .header {
    border-bottom: 1px solid rgba(80, 80, 80, 0.8);
  }

  #setting > .footer {
    border-top: 1px solid rgba(80, 80, 80, 0.8);
  }
}
